/* style.css */
body {
  font-family: 'Overpass', sans-serif;
  color: #404042;
  font-size: 18px;
}

h1, h2, h3 {
  font-family: 'Chivo', sans-serif;
  color: #404042;
}

p{
color: #404042;
}


/* Custom class design */

.button-blue{				
background-color: #1A48E3;
color: white;
padding: 16px 48px;
border-radius: 4px;
display: inline-block;
text-decoration: none;
transition: 0.3;
}

.button-blue:hover {
background-color: #0D1EC6;
color: white;
}

.banner{
background-image: url(images/background.jpg);
background-position: center;
background-size: cover;
color: white;
text-align: center;
padding: 150px 0px;
}

.banner h1{
color: white;
font-size: 40px;
margin:0;
}

.banner p{
color: white;
font-size: 24px;
opacity: 0.7;
margin-bottom: 40px;
}

.card-white {
background: white;
box-shadow: 0 0 16px rgba(0,0,0,0.1);
border-radius: 4px;
width: 200px;
text-align: center;
padding: 24px;
margin: 8px;
}

.card-white img {
width: 180px;
height: 180px;
object-fit: cover;
border-radius: 4px;
}

.card-white h3{
margin-left: 8px;
text-align: left;
}

.card-white p{
margin-left: 8px;
margin-right: 8px;
text-align: left;
}

.footer {
background: #404042;
text-align: left;
padding: 50px 300px;
}

.footer p {
color: white;
}

.container{
width: 900px;
margin:auto;
margin-bottom: 50px;
margin-top: 50px;
}

.Cards{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap:16px;
}

/* Cards media queries */
@media (max-width: 800px) {
  .Cards {
    grid-template-columns: 1fr;
  }
  
  .card-white {
    width: auto;
  }
}
  
/* Container media queries */
@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}


@media (min-width: 800px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 800px;
  }
}


@media (max-width: 800px) {
  .footer {
    text-align: center;
    padding: 50px 0px;
  	}
  }


